.products__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

.requesting_icon {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    padding: 6px 30px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.products_top > div {
    background-color: #f0f2f2;
    color: #0f1111;
    font-size: 11px;
    border-radius: 10px;
    padding: 6px 10px;
}

.products_holder {
    display: flex;
    flex-direction: row;
    padding: 20px 8px;
}
.products_holder > div > h3 {
    font-size: 24px;
}
.products_holder > div > h6 {
    font-size: 20px;
    padding-top: 4px;
    color: rgb(68, 65, 65);
}
.products_holder > div > span {
    line-height: 10px;
    font-size: 13px;
    width: 100px;
}

.products_left {
    flex: 0.22;
    padding-right: 9px;
}
.products_right {
    flex: 0.78;
}

.products_left > div > h6 {
    margin-top: 20px;
    color: rgb(68, 65, 65);
    font-size: 20px;
}

.ratings {
    margin-top: 15px;
    margin-bottom: 3px;
}
.ratings > h5 {
    margin-bottom: 2px;
}
.ratings > div {
    margin-top: 3px;
    color: #ffa41c;
}
.ratings_star {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ratings span {
    color: #484a4a;
    margin-left: 6px;
    font-size: 14px;
}

.post_category_container {
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 34px;
    margin-top: 5px;
    width: 100%;
}
.single_product {
    width: 250px;
    height: 480px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 3px 5px 2px rgb(0 0 0 / 4%), 0 1px 3px rgb(0 0 0 / 5%);
    flex-direction: column;
}

.single_product_top {
    display: flex;
    color: #0f1111;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}

.singe_product_top > span div {
    display: flex;
    flex-direction: row;
    color: #ffa41c;
    margin: 0px 0 3px 6px;
}
.choice_container {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: #fffcff;
    font-size: 10px;
}
.choice__container {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: #fffcff;
    font-size: 10px;
}

.choice_container > span {
    background-color: black;
    color: #fff;
    border-radius: 5px 0 0 0;
    height: 84%;
    display: flex;
    padding: 0 20px 0 3px;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    align-items: center;
}
.choice_container > span > span {
    color: #ffa41c;
    padding-left: 3px;
}
.choice__container > span {
    background-color: #e67a00;
    color: #fff;
    font-size: 15px;
    border-radius: 5px 0 0 0;
    height: 84%;
    display: flex;
    padding: 0 28px 0 10px;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    align-items: center;
}
.choice__container > span > span {
    padding-left: 3px;
}

.product_details {
    cursor: pointer;
    padding: 11px;
}
.product_category_name,
.product_details > span {
    color: #0f1111;
    font-size: 13px;
    line-height: 20px;
}
.product_category_rating {
    color: #ffa41c;
}
.product_details > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #484a4a;
    font-size: 19px;
}
.product_details > div > span {
    font-size: 10px;
    padding-top: 2px;
    padding-right: 2px;
}
.single_product_container {
    display: flex;
    flex-direction: column;
}
.singe_product_top {
    display: flex;
    height: 59px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.singe_product_top > img {
    height: 100%;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200px;
    flex-direction: row;
}
.amazon_prime {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.amazon_prime > span {
    color: #0096fa;
    margin-bottom: 2px;
}
.tick {
    color: #ffa41c;
}

.product_hr {
    bottom: none;
    height: 1px;
    background-color: gray;
    margin: 10px 0;
}

.arror_right {
    font-size: 16px !important;
}
.single_product_details {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    flex-direction: row;
}

.rollover {
    font-size: 14px;
    color: #565959;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product___bg {
    width: 100%;
    background-blend-mode: darken;
    background-color: #f8f8f8;
}

.single_product_image {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    opacity: 80%;
    max-height: 235px;
    object-fit: contain;
}

.single_product_image:hover {
    transition: 0.5s ease-in-out;
    width: 101%;
    cursor: pointer;
}
.single_product_images {
    display: flex;
    flex-direction: column;
    /* flex: 0.4; */
}

.product_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product_info > span {
    cursor: pointer;
}
.product_images_holder {
    display: flex;
    gap: 1.3rem;
    flex-direction: row;
}

.product_images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.2;
}

.product_images > img {
    width: 45px;
    height: 45px;
    margin: 10px 0;
    border-radius: 10px;
    object-fit: cover;
}

.active {
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
    cursor: pointer;
    border: 2px solid #007185;
}
.product__image img {
    height: 100;
}

.single_product_detail {
    display: flex;
    margin-top: 32px;
    padding: 10px;
    flex: 0.6;
    flex-direction: row;
}

.product___details {
    flex: 0.7;
    gap: 1em;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}
.product___details > span {
    font-size: 25px;
    line-height: 25px;
    color: #0f1111;
}
.product___details > p {
    color: #ffa41c;
}

.product_item_price {
    display: flex;
    gap: 0.15em;
    font-size: 25px;
    font-weight: 600;
    flex-direction: row;
}
.product_item_price > span {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.brand_cont {
    display: flex;
    flex-direction: row;
    font-size: 19px;
    width: 32%;
    justify-content: space-between;
    align-items: center;
}

.brand_cont > span {
}

.product_item__details {
    margin-top: 5px;
    display: flex;
    gap: 0.4em;
    line-height: 22px;
    flex-direction: column;
}

.item_details > h5 {
    font-size: 16px;
}

.to_cart_container {
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.add_to_cart_container {
    border: 1px lightgray solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    padding-bottom: 30px;
    margin-left: 10px;
    border-radius: 10px;
}

.price > span {
    margin-top: 3px;
}

.price {
    font-size: 32px;
}

.delivery_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 14px;
    font-size: 12px;
}
.delivery_location > span {
    color: #007185;
}
.loaction_icon {
    font-size: 16px !important;
}
.in_stock {
    font-size: 19px;
    color: #007600;
}

.add_to_cart {
    display: flex;
    background-color: #ffd814;
    width: 96%;
    cursor: pointer;
    margin-top: 35px;
    height: 33px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}
.add_to_cart:hover {
    background: #f7ca00;
    transition: 0.5 ease-in-out;
    background: #f0b800;
    border-color: #008296;
    box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}

.add_to_cart:active {
    background: #f0b800;
    border-color: #008296;
    box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}

.buy_now {
    display: flex;
    background-color: #ffa41c;
    width: 96%;
    margin-top: 8px;
    height: 33px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

@media screen and (max-width: 1300px) {
    .post_category_container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 970px) {
    .post_category_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 780px) {
    .products_holder {
        align-items: center;
        flex-direction: column;
    }
    .department_container {
        display: flex;
        padding-top: 25px;
        flex-direction: column;
        gap: 0.3rem;
    }
    .post_category_container {
        column-gap: 55px;
        grid-template-columns: repeat(2, 1fr);
    }
    .products_left {
        width: 86%;
    }
    .products_left h3,
    .brands_cont,
    .department_container > h4,
    .ratings {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .post_category_container {
        column-gap: 28px;
    }
    .products_left {
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 560px) {
    .single_product {
        width: 220px;
        height: 470px;
    }

    .product_category_name {
        line-height: 17px;
    }
}
@media screen and (max-width: 480px) {
    .products_top > span {
        font-size: 12px;
    }

    .single_product {
        width: 200px;
        height: 440px;
    }

    .product_details > span,
    .product_category_name {
        font-size: 12px;
    }
    .post_category_container {
        column-gap: 8px;
    }

    .single_product_image {
        max-height: 210px;
        object-fit: contain;
    }
}
@media screen and (max-width: 420px) {
    .single_product {
        width: 166px;
        height: 440px;
    }
    .products_top {
        padding: 6px 20px;
    }
    .products_top > div {
        font-size: 10px;
        padding: 6px 8px;
    }
    .products_left {
        padding: 0 14px;
    }
    .product_details > p {
        font-size: 10px;
        line-height: 14px !important;
    }
    .post_category_container {
        column-gap: 15px;
    }
}
@media screen and (max-width: 366px) {
    .single_product {
        width: 160px;
    }
    .products_left {
        padding: 0 10px;
    }
    .post_category_container {
        column-gap: 15px;
    }
}
