* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    overflow: auto;
}
.App {
    text-align: center;
}

:root {
    --header-bg: rgba(255, 255, 255, 1);
    --color-primary: rgba(121, 144, 225, 1);
    --color-bg-b: #131921;
    --color-p: #ffd814;
    --color-ps: #f2c200;
    --color-s: #c45500;
    --color-l: #0066c0;
    --color-primary-variant: rgba(77, 181, 255, 0.4);

    --transition: all 400ms ease;

    --container-height: 100vh;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
